.next/
node_modules/
dist/
coverage/

.env
.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tsbuildinfo

# clerk configuration (can include secrets)
/.clerk/



.pnpm-store/